@import url(../../styles/variables.css);

.newsletter {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: clamp(1rem, 5vw, 2rem);
  background-color: #f2f2f2;
  position: relative;

  h1 {
    font-family: var(--body3);
  }

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    input {
      width: 100%;
      padding: 1.5rem 1rem;
      border-radius: 6pt;
      border: none;
      font-weight: 600;
      font-family: var(--body3);
      outline: none;
    }

    input[type='submit'] {
      background-color: var(--primary);
      font-size: 1rem;
      color: var(--bg);
    }
  }

  .alert {
    padding: 1rem;
    color: var(--bg);
    position: absolute;
    top: 5px;
    right: 5px;
  }
}

@media screen and (min-width: 960px) {
  .newsletter {
    padding-inline: 10rem;
    gap: 40px;

    form {
      width: 100%;
      flex-direction: row;
      gap: 20px;

      input {
        padding: 1rem 0.5rem;
        border-radius: 5px;
      }

      input[type='submit'] {
        border-radius: 0px;
        width: 350px;
        cursor: pointer;
      }
    }
  }
}

@media screen and (min-width: 1500px) {
  .newsletter {
    padding-inline: 25rem;
  }
}
